@CHARSET "UTF-8";

body {
	margin: 0px;
}
#maindiv {
	float: left;
	width: 800px;
	height: 600px;
/* 	border: 1px solid red; */
}

.innerdiv {
	width: 250px;
	height: 200px;
/* 	border: 1px solid blue; */
}

#mainTable {
	border: 1px solid #f0f0f0;
	width: 704px;
}

#chatOutput {
	border: 1px solid gray;
	width: 704px;
	height: 200px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.2em;
	text-align: left;
	overflow: auto;
}

#chatInput {
	width: 704px;
	border: 1px solid #cccccc;
	font-family:  Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.2em;
}