@CHARSET "UTF-8";

body {
	margin: 0px;
	padding: 0px;	
}
#maindiv {
	width: 704px;
	height: 600px;
	background-image: url(../img/bg.jpg);
	background-color: #EAEAEA; 
	background-repeat: no-repeat;
/* 	border: 1px solid red; */
}

#player1div {
	width: 600px;
	height: 97px;
/* 	border: 1px solid blue; */
	position: absolute;
	top: 0px;
	left: 52px;

}

#player2div {
	width: 600px;
	height: 97px;
/* 	border: 1px solid green; */
	position: absolute;
	top: 503px;
	left: 52px;

}

#kalodadiv {
	width: 107px;
	height: 97px;
/* 	border: 1px solid orange; */
	position: absolute;
	top: 252px;
	left: 597px;

}

#dealdiv1 {
	width: 600px;
	height: 97px;
/* 	border: 1px solid yellow; */
	position: absolute;
	top: 252px;
	left: 0px;
}

/* #dealdiv2 { */
/* 	width: 600px; */
/* 	height: 200px; */
/* 	border: 1px solid yellow; */
/* 	position: absolute; */
/* 	top: 384px; */
/* 	left: 100px; */
/* } */

#messagediv {
	width: 600px;
	height: 50px;
/* 	border: 1px solid green; */
	position: absolute;
	top: 100px;
	left: 52px;

}

.kozr { 
/*    transform: rotate(90deg); */
/*    -moz-transform: rotate(90deg); */
/*    -webkit-transform: rotate(90deg); */
   	position: absolute;
	top: 0px;
	left: 0px;
}
  
 .cover {
 	position: absolute;
	top: 0px;
	left: 0px;
 }
 
 #chatOutput {
	border: 1px solid gray;
	width: 704px;
	height: 200px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.2em;
	text-align: left;
	overflow: auto;
}

#chatInput {
	width: 704px;
	border: 1px solid #cccccc;
	font-family:  Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.2em;
}